{{!-- Carrito de compras --}}

<h1 class="titulo">Shopping cart</h1>

{{> menu user=user}}

<div id="cart" class="cart">
    {{#each cart}}

    <li id="{{this._id}}" class="item-cart">
        <h3>Product:{{this.product}}</h3>
        <p>Price: $ {{this.product.price}}</p>
        <p>Quantity: {{this.quantity}}</p>
        <small>Description: {{this.product.description}}</small>
        <small>Category: {{this.product.category}}</small>
        <small>Stock: {{this.product.stock}}</small>
        <button class="btnRemove" id="${item._id}">Remove from cart</button>
    </li>
    {{/each}}

</div>

<div class="botton-bar">
    <button ><a class="btnContinue" href="/products">Seguir comprando</a></button>
    <button class="btnBuy" id="buy">Buy</button>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/cartId.js"></script>