{{!-- Lista de productos --}}

<h1 class="titulo">Product list</h1>

<div>
    <a href="/">Home</a>
    <a href="/realTimeProducts">Real time products</a>
</div>


<ul id = "list">
    {{#each products}}
    <li id="{{this.id}}">

        <h3>{{this.title}}</h3>
        <strong>Product information:</strong>
        <p>Description: {{this.description}}</p>
        <p>Code: {{this.code}}</p>
        <h4>Price: ${{this.price}}</h4>
        <p>Status: {{this.status}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Category: {{this.category}}</p>
        <p>Thumbnail: {{this.thumbnail}}</p>

    </li>
    {{/each}}
</ul>