{{!-- Lista de productos --}}

<h1 class="titulo">Product list</h1>

<div class="menu">
    <a href="/products">Home</a>
    <a href="/realTimeProducts">Real time products</a>
    <a href="/carts/66e51d389da85575507ed7e2">Shopping cart</a>
</div>


<ul id="list" class="list">
    {{#each products}}
    <li id="{{this._id}}" class="item">

        {{!-- Thumbnail sería: <img src="{{this.thumbnail}}" alt="{{this.thumbnail}}"> si tuviera las imagenes (son
        nombres inventados) --}}

        <p>{{this.thumbnail}}</p>
        <h3>{{this.title}}</h3>
        <strong>Product information:</strong>
        <p>Description: {{this.description}}</p>
        <p>Code: {{this.code}}</p>
        <h4>Price: ${{this.price}}</h4>
        <p>Status: {{this.status}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Category: {{this.category}}</p>
        <button class="btn-add" id="{{this._id}}">Add to cart</button>

    </li>
    {{/each}}
</ul>


<div id="pagination">
    
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/index.js"></script>