<h1 class="titulo">Real time products</h1>

<div class="menu">
    <a href="/products">Home</a>
    <a href="/realTimeProducts">Real time products</a>
    <a href="/carts/66e51d389da85575507ed7e2">Shopping cart</a>
</div>

{{!-- Formulario para añadir producto --}}
<div class="forms">

    <form id="addProduct" class="formAdd">

        <h2>Create product</h2>

        <p class="pExtras">Complete the fields with the data to add the product:</p>

        <label for="title">Title:</label>
        <input type="text" name="title" id="title">

        <label for="description">Description:</label>
        <input type="text" name="Description" id="description">

        <label for="code">Code:</label>
        <input type="text" name="code" id="code">

        <label for="price">Price:</label>
        <input type="number" name="price" id="price">

        <p class="status">Status: <span>True</span></p>

        <label for="stock">Stock:</label>
        <input type="number" name="stock" id="stock">

        <label for="category">Category:</label>
        <input type="text" name="category" id="category">

        <label for="thumbnail">Thumbnail:</label>
        <input type="text" name="thumbnail" id="thumbnail">

        <p id="alertValidation" class="alerta"></p>

        <button type="submit" id="btnAdd">Add</button>

    </form>

    {{!-- Formulario para buscar y modificar producto --}}

    <form id="modifyProduct" class="formModify">


        <h2>Modify product</h2>

        <label for="searchById" class="iExtras">Search for the product to modify by its id:</label>
        <input type="text" name="searchById" id="searchById">

        <p class="pExtras">Complete the fields with the data you want to modify:</p>

        <label for="newTitle">Title:</label>
        <input type="text" name="newTitle" id="newTitle">

        <label for="newDescription">Description:</label>
        <input type="text" name="newDescription" id="newDescription">

        <label for="newCode">Code:</label>
        <input type="text" name="newCode" id="newCode">

        <label for="newPrice">Price:</label>
        <input type="number" name="newPrice" id="newPrice">

        <p class="status">Status: <span>True</span></p>

        <label for="newStock">Stock:</label>
        <input type="number" name="newStock" id="newStock">

        <label for="newCategory">Category:</label>
        <input type="text" name="newCategory" id="newCategory">

        <label for="newThumbnail">Thumbnail:</label>
        <input type="text" name="newThumbnail" id="newThumbnail">

        <p id="alertModify" class="alerta"></p>

        <button type="submit" id="btnModify">Modify product</button>


    </form>

    {{!-- Formulario para eliminar producto --}}

    <form id="inputDeleteProduct" class="formDelete">

        <h2>Delete product</h2>

        <label for="deleteById" class="iExtras">Search for the product to delete by its id:</label>
        <input type="text" name="deleteById" id="deleteById">

        <p id="alertDelete" class="alerta"></p>

        <button id="btnDelete">Delete</button>

    </form>
</div>

{{!-- Lista de productos --}}

<div>
    <h2 class="titleList">Product list</h2>

    <ul id="list" class="list">
        {{#each products}}
        <li id="{{this.id}}" class="item">

            {{!-- Thumbnail sería: <img src="{{this.thumbnail}}" alt="{{this.thumbnail}}"> si tuviera las imagenes (son
            nombres inventados) --}}

            <p>{{this.thumbnail}}</p>
            <h3>{{this.title}}</h3>
            <strong>Product information:</strong>
            <p>Description: {{this.description}}</p>
            <p>Code: {{this.code}}</p>
            <h4>Price: ${{this.price}}</h4>
            <p>Status: {{this.status}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Category: {{this.category}}</p>

        </li>
        {{/each}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>